// app global css in SCSS form

@font-face {
  font-family: title;
  src: url(./fonts/Avenir-Roman.woff);
}

@font-face {
  font-family: description;
  src: url(./fonts/avenir-light.woff);
}

.title-font {
  font-family: 'title';
}

.desc-font {
  font-family: 'description';
}

body.body--light {
  background-color: $light;
}

.body--light .q-header {
  background-color: $light-nav;
}

.body--light .mobile .q-header {
  border-bottom: 1px solid $light-border;
}

.body--light .q-footer {
  border-top: 1px solid $light-border;
  background-color: $light-nav;
}

.body--light .q-btn {
  color: $light-btn;
}

.body--light .desktop .q-drawer {
  background-color: transparent;
}

.body--light .mobile .q-drawer {
  border-right: 1px solid $light-border;
  background-color: $light-nav;
}

body.body--dark {
  background-color: $dark;
}

.body--dark .q-header {
  background-color: $dark-nav;
}

.body--dark .mobile .q-header {
  border-bottom: 1px solid $dark-border;
}

.body--dark .q-footer {
  border-top: 1px solid $dark-border;
  background-color: $dark-nav;
}

.body--dark .q-btn {
  color: $dark-btn;
}

.body--dark .desktop .q-drawer {
  background-color: $dark-nav;
}

.body--dark .mobile .q-drawer {
  border-right: 1px solid $dark-border;
  background-color: $dark-nav;
}